<div id="<%= dom_id presence %>">
  <p>
    <strong>Ispresent:</strong>
    <%= presence.isPresent %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= presence.student.student_infor %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= presence.lesson.lesson_infor %>
  </p>

</div>
