<div id="<%= dom_id presence %>">
  <p>
    <strong>Ispresent:</strong>
    <%= presence.isPresent %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= presence.student_id %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= presence.lesson_id %>
  </p>

</div>
