<h1>Editing animal type</h1>

<%= render "form", animal_type: @animal_type %>

<br>

<div>
  <%= link_to "Show this animal type", @animal_type %> |
  <%= link_to "Back to animal types", animal_types_path %>
</div>
