<h1>Editing class of student</h1>

<%= render "form", class_of_student: @class_of_student %>

<br>

<div>
  <%= link_to "Show this class of student", @class_of_student %> |
  <%= link_to "Back to class of students", class_of_students_path %>
</div>
