<p style="color: green"><%= notice %></p>

<h1>Text messages</h1>

<div id="text_messages">
  <% @text_messages.each do |text_message| %>
    <%= render text_message %>
    <p>
      <%= link_to "Show this text message", text_message %>
    </p>
  <% end %>
</div>

<%= link_to "New text message", new_text_message_path %>
