<h1>Editing student grade</h1>

<%= render "form", student_grade: @student_grade %>

<br>

<div>
  <%= link_to "Show this student grade", @student_grade %> |
  <%= link_to "Back to student grades", student_grades_path %>
</div>
